/vendor/
node_modules/
npm-debug.log
yarn-error.log

.idea/
.DS_Store
composer.lock

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache